.homepage{
    width: 1006px;
    height: 1080px;
    position: absolute;
    left: 0%;
    right: -0.31%;
    top: 0%;
    bottom: 0%;
    background: #E1F9F4;
}

.div1{
    width: 320px;
    height: 1080px;
}

.div2{
    height: 1080px;
    width: 1285px;
    left: 320px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    left: 20%;
    right: -0.31%;
    top: 0%;
    bottom: 0%;
    background: #FAFBFC;
}

.logo{
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    left: 5%;
    right: 88.62%;
    top: 4.17%;
    bottom: 91.76%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #1A1B1C;
    /* display: flex;
    flex-direction: column; */
}

.left-navbar{
    height: 385px;
    width: 172px;
    position: absolute;
    left: 2%;
    right: 83.25%;
    top: 15.74%;
    bottom: 48.61%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}
.grey{
    color: gray;
}
.blue{
    color: #2289FF;
}
.home{
    height: 18px;
    width: 22px;
    left: 46px;
    top: 179px;
    border-radius: 0px;
}
.header{
    height: 10%;
    display: flex;
    flex-direction: row;
}
.user img{
    height: 22.231679916381836px;
    width: 18.479999542236328px;
    left: 1412.550048828125px;
    top: 52.34832763671875px;
    border-radius: 0px;
    }
.userid{
    margin-top: 25px;
    margin-left: 25px;
}
.user{
    margin-top: 35px;
    margin-left: 75%;
}
select{
    border: none;
}    
.line{
height: 3px;
width: 1285px;
border-radius: 0px;
/* position: absolute; */
background: #E1F9F4;
}
.searchbar{
    margin-top: 10px;
    height: 64px;
    width: 377px;
    border-radius: 0;
    position: absolute;
}
.searchbar input {
    margin: 10px;
    width: 200px;
    height: 30px;
    padding-left: 20px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
}
.vline{
height: 30px;
position: absolute;
left: 41.28%;
top: 15.93%;
bottom: 80.19%;
border: 1px solid #E6E6E6;
}
.searchbar img{
height: 24.044296264648438px;
position: absolute;
left: 53.12%;
right: 55.37%;
top: 23%;
bottom: 81.06%;
background: #6AB4F8;
}
.property{
    height: 64px;
    width: 172px;
    border-radius: 25px;
    position: absolute;
    right: 2.31%;
    top: 11.91%;
    background: #6AB4F8;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 13%);
}
.property img{
height: 14px;
width: 14px;
border-radius: 0px;
background: #FAFBFC;
margin-top: 25px;
margin-left: 20px;
}
span{
    height: 25px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    width: 114px;
    margin-left: 5px;
    margin-top: 25px;
}
#blue{
    background: #2289FF;
}
